@import "tailwindcss";

/* :root {
  --background: #1d2043;
  --foreground: #171717;
} */
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
/* body {
  background: var(--background);
  color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}
 */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 358;
  font-style: normal;
}
